<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include blog_header.html %}

        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.time }}, <span>{{ page.location }}</span>
                </p>
                <p class="article-hint">
                    If you have question in this post, you can ask here
                    <a href="https://github.com/baesomi/baesomi.github.io/issues" target="_blank"> Issues</a>,thx
                </p>
            </header>
            {{ content }}
            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>

</html>
